src/main/xml/eCH-0173-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) von Martin Stingelin (Stingelin Informatik GmbH) bearbeitet -->
<!-- edited with XMLSpy v2012 rel. 2 sp1 (http://www.altova.com) by Martin Stingelin (Stingelin Informatik GmbH) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by BITUSER (Bundesamt für Informatik und Telekommunikation) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0173="http://www.ech.ch/xmlns/eCH-0173/1" xmlns:eCH-0011="http://www.ech.ch/xmlns/eCH-0011-f/8" xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010-f/5" xmlns:eCH-0021="http://www.ech.ch/xmlns/eCH-0021-f/7" xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044-f/4" xmlns:eCH-0007="http://www.ech.ch/xmlns/eCH-0007-f/5" xmlns:eCH-0097="http://www.ech.ch/xmlns/eCH-0097-f/2" xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/5" targetNamespace="http://www.ech.ch/xmlns/eCH-0173/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation>Ausgabedatum: 27.06.2014</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0011-f/8" schemaLocation="http://www.ech.ch/xmlns/eCH-0011-f/8/eCH-0011-8-1f.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0010-f/5" schemaLocation="http://www.ech.ch/xmlns/eCH-0010-f/5/eCH-0010-5-1f.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0044-f/4" schemaLocation="http://www.ech.ch/xmlns/eCH-0044-f/4/eCH-0044-4-1f.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0007-f/5" schemaLocation="http://www.ech.ch/xmlns/eCH-0007-f/5/eCH-0007-5-0f.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0021-f/7" schemaLocation="http://www.ech.ch/xmlns/eCH-0021-f/7/eCH-0021-7-0f.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0097-f/2" schemaLocation="http://www.ech.ch/xmlns/eCH-0097-f/2/eCH-0097-2-0f.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/5" schemaLocation="http://www.ech.ch/xmlns/eCH-0058/5/eCH-0058-5-0.xsd"/>
	<xs:simpleType name="justificationType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="700"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="includeResidenceTypeYesNoType">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="typeOfResidenceType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="requesterType">
		<xs:choice>
			<xs:element name="organisationIdentification" type="eCH-0097:organisationIdentificationType"/>
			<xs:element name="mailAddress" type="eCH-0010:mailAddressType"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="requestetDataType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="contactType">
		<xs:sequence>
			<xs:element name="localID" type="eCH-0044:namedPersonIdType" minOccurs="0"/>
			<xs:element name="address" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:choice minOccurs="0">
							<xs:element name="addressCategory">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:enumeration value="1"/>
										<xs:enumeration value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="otherAddressCategory">
								<xs:simpleType>
									<xs:restriction base="xs:token">
										<xs:maxLength value="100"/>
										<xs:whiteSpace value="collapse"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:choice>
						<xs:element name="postalAddress" type="eCH-0010:mailAddressType"/>
						<xs:element name="validity" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="dateFrom" type="xs:date" minOccurs="0"/>
									<xs:element name="dateTo" type="xs:date" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="email" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:choice minOccurs="0">
							<xs:element name="emailCategory">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:enumeration value="1"/>
										<xs:enumeration value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="otherEmailCategory">
								<xs:simpleType>
									<xs:restriction base="xs:token">
										<xs:maxLength value="100"/>
										<xs:whiteSpace value="collapse"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:choice>
						<xs:element name="emailAddress">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
									<xs:whiteSpace value="collapse"/>
									<xs:pattern value="[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*@[A-Za-zäöüÄÖÜ0-9!#-'\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="validity" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="dateFrom" type="xs:date" minOccurs="0"/>
									<xs:element name="dateTo" type="xs:date" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="phone" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:choice minOccurs="0">
							<xs:element name="phoneCategory">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:enumeration value="1"/>
										<xs:enumeration value="2"/>
										<xs:enumeration value="3"/>
										<xs:enumeration value="4"/>
										<xs:enumeration value="5"/>
										<xs:enumeration value="6"/>
										<xs:enumeration value="7"/>
										<xs:enumeration value="8"/>
										<xs:enumeration value="9"/>
										<xs:enumeration value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="otherPhoneCategory">
								<xs:simpleType>
									<xs:restriction base="xs:token">
										<xs:maxLength value="100"/>
										<xs:whiteSpace value="collapse"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:choice>
						<xs:element name="phoneNumber">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="20"/>
									<xs:whiteSpace value="collapse"/>
									<xs:pattern value="\d{10,20}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="validity" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="dateFrom" type="xs:date" minOccurs="0"/>
									<xs:element name="dateTo" type="xs:date" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="internet" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:choice minOccurs="0">
							<xs:element name="internetCategory">
								<xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:enumeration value="1"/>
										<xs:enumeration value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="otherInternetCategory">
								<xs:simpleType>
									<xs:restriction base="xs:token">
										<xs:maxLength value="100"/>
										<xs:whiteSpace value="collapse"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:choice>
						<xs:element name="internetAddress">
							<xs:simpleType>
								<xs:restriction base="xs:token">
									<xs:maxLength value="100"/>
									<xs:whiteSpace value="collapse"/>
									<xs:pattern value="http://.*"/>
									<xs:pattern value="https://.*"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="validity" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="dateFrom" type="xs:date" minOccurs="0"/>
									<xs:element name="dateTo" type="xs:date" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="organisationType">
		<xs:sequence>
			<xs:element name="organisationIdentification" type="eCH-0097:organisationIdentificationType"/>
			<xs:element name="uidBrancheText" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:minLength value="1"/>
						<xs:maxLength value="500"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="nogaCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:minLength value="2"/>
						<xs:maxLength value="6"/>
						<xs:pattern value="\d{2,6}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="foundation" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="foundationDate" type="eCH-0044:datePartiallyKnownType" minOccurs="0"/>
						<xs:element name="foundationReason" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:nonNegativeInteger">
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
									<xs:enumeration value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="liquidation" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="liquidationDate" type="eCH-0044:datePartiallyKnownType" minOccurs="0"/>
						<xs:element name="liquidationStartDate" type="eCH-0044:datePartiallyKnownType" minOccurs="0"/>
						<xs:element name="liquidationReason" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:nonNegativeInteger">
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
									<xs:enumeration value="3"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="contact" type="eCH-0173:contactType" minOccurs="0"/>
			<xs:element name="languageOfCorrespondance" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:minLength value="1"/>
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventAddressVerification">
		<xs:sequence>
			<xs:element name="requester" type="eCH-0173:requesterType"/>
			<xs:element name="justification" type="eCH-0173:justificationType" minOccurs="0"/>
			<xs:element name="includeResidenceTypeYesNo" type="eCH-0173:includeResidenceTypeYesNoType"/>
			<xs:element name="municipality" type="eCH-0007:swissMunicipalityType" minOccurs="0"/>
			<xs:choice>
				<xs:element name="person" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="personIdentification">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="eCH-0044:personIdentificationType">
											<xs:sequence>
												<xs:element name="callName" type="eCH-0044:baseNameType" minOccurs="0"/>
												<xs:element name="nameOnForeignPassport" type="eCH-0011:foreignerNameType" minOccurs="0"/>
												<xs:element name="declaredForeignName" type="eCH-0011:foreignerNameType" minOccurs="0"/>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="address" type="eCH-0010:addressInformationType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="organisation" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="organisationIdentification" type="eCH-0097:organisationIdentificationType"/>
							<xs:element name="address" type="eCH-0010:addressInformationType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="dateValidFrom" type="xs:date" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="addressVerificationResult">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="eventAddressVerificationResponse">
		<xs:sequence>
			<xs:element name="adressVerificationResult" type="eCH-0173:addressVerificationResult"/>
			<xs:element name="typeOfResidenceType" type="eCH-0173:typeOfResidenceType" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventPersonData">
		<xs:sequence>
			<xs:element name="requester" type="eCH-0173:requesterType"/>
			<xs:element name="justification" type="eCH-0173:justificationType" minOccurs="0"/>
			<xs:element name="requestedData" type="eCH-0173:requestetDataType" minOccurs="0"/>
			<xs:element name="municipality" type="eCH-0007:swissMunicipalityType" minOccurs="0"/>
			<xs:choice>
				<xs:element name="person" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="personIdentification">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="eCH-0044:personIdentificationType">
											<xs:sequence>
												<xs:element name="callName" type="eCH-0044:baseNameType" minOccurs="0"/>
												<xs:element name="nameOnForeignPassport" type="eCH-0011:foreignerNameType" minOccurs="0"/>
												<xs:element name="declaredForeignName" type="eCH-0011:foreignerNameType" minOccurs="0"/>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="address" type="eCH-0010:addressInformationType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="organisation" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="organisationIdentification" type="eCH-0097:organisationIdentificationType"/>
							<xs:element name="address" type="eCH-0010:addressInformationType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="dateValidFrom" type="xs:date" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="personDataResult">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="eventPersonDataResponse">
		<xs:sequence>
			<xs:element name="personDataResult" type="eCH-0173:personDataResult"/>
			<xs:choice minOccurs="0">
				<xs:element name="personDataIndividual" minOccurs="0">
					<xs:complexType>
						<xs:sequence minOccurs="0">
							<xs:element name="personidentification" type="eCH-0044:personIdentificationType" minOccurs="0"/>
							<xs:element name="birthData" minOccurs="0">
								<xs:complexType>
									<xs:sequence minOccurs="0">
										<xs:element name="dateOfBirth" type="eCH-0044:datePartiallyKnownType" minOccurs="0"/>
										<xs:element name="placeOfBirth" type="eCH-0011:generalPlaceType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="deathData" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="deathPeriod" type="eCH-0011:deathPeriodType" minOccurs="0"/>
										<xs:element name="placeOfDeath" type="eCH-0011:generalPlaceType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="nameData" minOccurs="0">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="eCH-0011:nameDataType">
											<xs:sequence>
												<xs:element name="nameValidFrom" type="xs:date" minOccurs="0"/>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="maritalData" type="eCH-0011:maritalDataType" minOccurs="0"/>
							<xs:element name="religionData" type="eCH-0011:religionDataType" minOccurs="0"/>
							<xs:element name="nationalityData" type="eCH-0011:nationalityDataType" minOccurs="0"/>
							<xs:element name="residencePermitData" type="eCH-0011:residencePermitDataType" minOccurs="0"/>
							<xs:element name="maritalRelationship" type="eCH-0021:maritalRelationshipType" minOccurs="0"/>
							<xs:element name="parentalRelationship" type="eCH-0021:parentalRelationshipType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="guardianRelationship" type="eCH-0021:guardianRelationshipType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="originAddon" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence minOccurs="0">
										<xs:element name="placeOfOrigin" type="eCH-0011:placeOfOriginType" minOccurs="0"/>
										<xs:element name="placeOfOriginAddon" type="eCH-0021:placeOfOriginAddonDataType" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="kindOfEmployment" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="1"/>
										<xs:enumeration value="0"/>
										<xs:enumeration value="1"/>
										<xs:enumeration value="2"/>
										<xs:enumeration value="3"/>
										<xs:enumeration value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="paperLock" type="eCH-0021:paperLockType" minOccurs="0"/>
							<xs:element name="dataLock" type="eCH-0021:dataLockType" minOccurs="0"/>
							<xs:element name="languageOfCorrespondance" type="eCH-0011:languageType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="personDataOrganisation" type="eCH-0173:organisationType" minOccurs="0"/>
			</xs:choice>
			<xs:element name="mainResidenceData" minOccurs="0">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="mainResidenceMunicipality" type="eCH-0007:swissMunicipalityType" minOccurs="0"/>
						<xs:choice minOccurs="0">
							<xs:element name="dwellingAddress" type="eCH-0011:dwellingAddressType" minOccurs="0"/>
							<xs:element name="businessAddress" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="EGID" type="eCH-0011:EGIDType" minOccurs="0"/>
										<xs:element name="EWID" type="eCH-0011:EWIDType" minOccurs="0"/>
										<xs:element name="address" type="eCH-0010:swissAddressInformationType"/>
										<xs:element name="movingDate" type="xs:date" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="mailAddress" type="eCH-0010:addressInformationType" minOccurs="0"/>
						</xs:choice>
						<xs:element name="comesFrom" type="eCH-0011:destinationType" minOccurs="0"/>
						<xs:element name="arrivalDate" type="xs:date" minOccurs="0"/>
						<xs:element name="goesTo" type="eCH-0011:destinationType" minOccurs="0"/>
						<xs:element name="departureDate" type="xs:date" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="secondaryResidenceData" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="secondaryResidenceMunicipality" type="eCH-0007:swissMunicipalityType" minOccurs="0"/>
						<xs:choice minOccurs="0">
							<xs:element name="dwellingAddress" type="eCH-0011:dwellingAddressType" minOccurs="0"/>
							<xs:element name="businessAddress" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="EGID" type="eCH-0011:EGIDType" minOccurs="0"/>
										<xs:element name="EWID" type="eCH-0011:EWIDType" minOccurs="0"/>
										<xs:element name="address" type="eCH-0010:swissAddressInformationType"/>
										<xs:element name="movingDate" type="xs:date" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="mailAddress" type="eCH-0010:addressInformationType" minOccurs="0"/>
						</xs:choice>
						<xs:element name="comesFrom" type="eCH-0011:destinationType" minOccurs="0"/>
						<xs:element name="arrivalDate" type="xs:date" minOccurs="0"/>
						<xs:element name="goesTo" type="eCH-0011:destinationType" minOccurs="0"/>
						<xs:element name="departureDate" type="xs:date" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="delivery">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="deliveryHeader" type="eCH-0058:headerType"/>
				<xs:choice>
					<xs:element name="addressVerification" type="eCH-0173:eventAddressVerification"/>
					<xs:element name="addressVerificationResponse" type="eCH-0173:eventAddressVerificationResponse"/>
					<xs:element name="personData" type="eCH-0173:eventPersonData"/>
					<xs:element name="personDataResponse" type="eCH-0173:eventPersonDataResponse"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
