OpenEch/src/main/xml/ch/ech/xmlns/eCH-0020-2-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2009 sp1 (http://www.altova.com) von Martin Stingelin (Stingelin Informatik GmbH) bearbeitet -->
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by Martin Stingelin (Stingelin Informatik GmbH) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by BITUSER (Bundesamt für Informatik und Telekommunikation) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0020="http://www.ech.ch/xmlns/eCH-0020/2" xmlns:eCH-0078="http://www.ech.ch/xmlns/eCH-0078/2" xmlns:eCH-0011="http://www.ech.ch/xmlns/eCH-0011/4" xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010/3" xmlns:eCH-0008="http://www.ech.ch/xmlns/eCH-0008/2" xmlns:eCH-0021="http://www.ech.ch/xmlns/eCH-0021/3" xmlns:eCH-0006="http://www.ech.ch/xmlns/eCH-0006/2" xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044/1" xmlns:eCH-0007="http://www.ech.ch/xmlns/eCH-0007/4" targetNamespace="http://www.ech.ch/xmlns/eCH-0020/2" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xs:annotation>
		<xs:documentation>Ausgabedatum: 04.11.2009</xs:documentation>
	</xs:annotation>
 	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0011/4" schemaLocation="http://www.ech.ch/xmlns/eCH-0011/4/eCH-0011-4-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0010/3" schemaLocation="http://www.ech.ch/xmlns/eCH-0010/3/eCH-0010-3-1.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0008/2" schemaLocation="http://www.ech.ch/xmlns/eCH-0008/2/eCH-0008-2-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0021/3" schemaLocation="http://www.ech.ch/xmlns/eCH-0021/3/eCH-0021-3-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0006/2" schemaLocation="http://www.ech.ch/xmlns/eCH-0006/2/eCH-0006-2-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0044/1" schemaLocation="http://www.ech.ch/xmlns/eCH-0044/1/eCH-0044-1-1.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0007/4" schemaLocation="http://www.ech.ch/xmlns/eCH-0007/4/eCH-0007-4-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0078/2" schemaLocation="http://www.ech.ch/xmlns/eCH-0078/2/eCH-0078-2-0.xsd"/>
 
	<xs:simpleType name="eventTypesType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
			<xs:enumeration value="12"/>
			<xs:enumeration value="13"/>
			<xs:enumeration value="14"/>
			<xs:enumeration value="15"/>
			<xs:enumeration value="16"/>
			<xs:enumeration value="17"/>
			<xs:enumeration value="18"/>
			<xs:enumeration value="19"/>
			<xs:enumeration value="20"/>
			<xs:enumeration value="21"/>
			<xs:enumeration value="22"/>
			<xs:enumeration value="23"/>
			<xs:enumeration value="25"/>
			<xs:enumeration value="26"/>
			<xs:enumeration value="29"/>
			<xs:enumeration value="30"/>
			<xs:enumeration value="31"/>
			<xs:enumeration value="34"/>
			<xs:enumeration value="35"/>
			<xs:enumeration value="36"/>
			<xs:enumeration value="37"/>
			<xs:enumeration value="38"/>
			<xs:enumeration value="39"/>
			<xs:enumeration value="41"/>
			<xs:enumeration value="42"/>
			<xs:enumeration value="43"/>
			<xs:enumeration value="44"/>
			<xs:enumeration value="45"/>
			<xs:enumeration value="46"/>
			<xs:enumeration value="47"/>
			<xs:enumeration value="48"/>
			<xs:enumeration value="49"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="numberOfMessagesType">
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:complexType name="baseDeliveryPersonType">
		<xs:sequence>
			<xs:element name="person" type="eCH-0011:personType"/>
			<xs:element name="anyPerson" type="eCH-0011:anyPersonType"/>
			<xs:element name="placeOfOriginAddon" type="eCH-0021:placeOfOriginAddonType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventBaseDelivery">
		<xs:sequence>
			<xs:element name="baseDeliveryPerson" type="eCH-0020:baseDeliveryPersonType"/>
			<xs:element name="nameOfFather" type="eCH-0021:nameOfParentAtBirthType" minOccurs="0"/>
			<xs:element name="nameOfMother" type="eCH-0021:nameOfParentAtBirthType" minOccurs="0"/>
			<xs:element name="Relationship" type="eCH-0021:relationshipType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="occupation" type="eCH-0021:occupationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="householdNumber" type="eCH-0021:householdNumberType" minOccurs="0"/>
			<xs:element name="dataLock" type="eCH-0021:dataLockType" minOccurs="0"/>
			<xs:element name="paperLock" type="eCH-0021:paperLockType" minOccurs="0"/>
			<xs:choice>
				<xs:element name="hasMainResidence" type="eCH-0011:mainResidenceType"/>
				<xs:element name="hasSecondaryResidence" type="eCH-0011:secondaryResidenceType"/>
				<xs:element name="hasOtherResidence" type="eCH-0011:otherResidenceType"/>
			</xs:choice>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="birthPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
			<xs:element name="callName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="placeOfBirth" type="eCH-0020:birthBirthPlaceType"/>
			<xs:element name="nationality" type="eCH-0011:nationalityType"/>
			<xs:element name="religion" type="eCH-0011:religionType" minOccurs="0"/>
			<xs:element name="languageOfCorrespondance" type="eCH-0011:languageType" minOccurs="0"/>
			<xs:element name="anyPerson" type="eCH-0011:anyPersonType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="birthPartnerType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
				<xs:element name="personIdentificationPartner" type="eCH-0044:personIdentificationPartnerType"/>
			</xs:choice>
			<xs:element name="address" type="eCH-0010:personMailAddressType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="birthMotherType">
		<xs:sequence>
			<xs:element name="typeOfRelationship">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="partner" type="eCH-0020:birthPartnerType"/>
			<xs:element name="nameAtBirth" type="eCH-0021:nameOfParentAtBirthType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="birthFatherType">
		<xs:sequence>
			<xs:element name="typeOfRelationship">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="partner" type="eCH-0020:birthPartnerType"/>
			<xs:element name="nameAtBirth" type="eCH-0021:nameOfParentAtBirthType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="birthBirthPlaceType">
		<xs:choice>
			<xs:element name="swissTown">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="country">
							<xs:simpleType>
								<xs:restriction base="eCH-0010:countryType">
									<xs:enumeration value="CH"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="municipality" type="eCH-0007:swissMunicipalityType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="foreignCountry">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="country" type="eCH-0008:countryType"/>
						<xs:element name="foreignBirthTown" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:whiteSpace value="collapse"/>
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="eventBirth">
		<xs:sequence>
			<xs:element name="birthPerson" type="eCH-0020:birthPersonType"/>
			<xs:element name="mother" type="eCH-0020:birthMotherType" minOccurs="0"/>
			<xs:element name="father" type="eCH-0020:birthFatherType" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="deathPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventDeath">
		<xs:sequence>
			<xs:element name="deathPerson" type="eCH-0020:deathPersonType"/>
			<xs:element name="dateOfDeath" type="xs:date"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="missingPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventMissing">
		<xs:sequence>
			<xs:element name="missingPerson" type="eCH-0020:missingPersonType"/>
			<xs:element name="dateOfDeath" type="xs:date"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ePersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ePartnerType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
				<xs:element name="personIdentificationPartner" type="eCH-0044:personIdentificationPartnerType"/>
			</xs:choice>
			<xs:element name="address" type="eCH-0010:personMailAddressType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eRelationshipType">
		<xs:sequence>
			<xs:element name="typeOfRelationship">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="partner" type="eCH-0020:ePartnerType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="evente">
		<xs:sequence>
			<xs:element name="ePerson" type="eCH-0020:ePersonType"/>
			<xs:element name="maritalStatus">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dateOfMaritalStatus" type="xs:date"/>
			<xs:element name="eRelationship" type="eCH-0020:eRelationshipType" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="separationPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventSeparation">
		<xs:sequence>
			<xs:element name="separationPerson" type="eCH-0020:separationPersonType"/>
			<xs:element name="separation" type="eCH-0011:separationType"/>
			<xs:element name="dateOfSeparation" type="xs:date"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="undoSeparationPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventUndoSeparation">
		<xs:sequence>
			<xs:element name="undoSeparationPerson" type="eCH-0020:undoSeparationPersonType"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="divorcePersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventDivorce">
		<xs:sequence>
			<xs:element name="divorcePerson" type="eCH-0020:divorcePersonType"/>
			<xs:element name="maritalStatus">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dateOfMaritalStatus" type="xs:date"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="maritalStatusPartnerPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventMaritalStatusPartner">
		<xs:sequence>
			<xs:element name="maritalStatusPartnerPerson" type="eCH-0020:maritalStatusPartnerPersonType"/>
			<xs:element name="maritalStatus">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="3"/>
						<xs:enumeration value="5"/>
						<xs:enumeration value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dateOfMaritalStatus" type="xs:date"/>
			<xs:element name="partnerShipAbolition" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="3"/>
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="undoePersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventUndoe">
		<xs:sequence>
			<xs:element name="undoePerson" type="eCH-0020:undoePersonType"/>
			<xs:element name="maritalStatus">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dateOfMaritalStatus" type="xs:date"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="naturalizeForeignerPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="swissNationalityType">
		<xs:sequence>
			<xs:element name="nationalityStatus">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="country">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="countryId">
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:enumeration value="8100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="countryIdISO2">
							<xs:simpleType>
								<xs:restriction base="xs:token">
									<xs:enumeration value="CH"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="countryNameShort">
							<xs:simpleType>
								<xs:restriction base="xs:token">
									<xs:maxLength value="50"/>
									<xs:enumeration value="Schweiz"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventNaturalizeForeigner">
		<xs:sequence>
			<xs:element name="naturalizationForeignerPerson" type="eCH-0020:naturalizeForeignerPersonType"/>
			<xs:element name="placeOfOrigin" type="eCH-0011:placeOfOriginType"/>
			<xs:element name="naturalizationDate" type="xs:date"/>
			<xs:element name="reasonOfAcquisition" type="eCH-0020:reasonOfAcquisitionType"/>
			<xs:element name="nationality" type="eCH-0020:swissNationalityType"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="reasonOfAcquisitionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
			<xs:enumeration value="10"/>
			<xs:enumeration value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="naturalizeSwissPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventNaturalizeSwiss">
		<xs:sequence>
			<xs:element name="naturalizationSwissPerson" type="eCH-0020:naturalizeSwissPersonType"/>
			<xs:element name="placeOfOrigin" type="eCH-0011:placeOfOriginType"/>
			<xs:element name="naturalizationDate" type="xs:date"/>
			<xs:element name="reasonOfAcquisition" type="eCH-0020:reasonOfAcquisitionType"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="undoCitizenPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventUndoCitizen">
		<xs:sequence>
			<xs:element name="citizenshipDischargePerson" type="eCH-0020:undoCitizenPersonType"/>
			<xs:element name="placeOfOrigin" type="eCH-0011:placeOfOriginType"/>
			<xs:element name="expatriationDate" type="xs:date"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="undoSwissPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventUndoSwiss">
		<xs:sequence>
			<xs:element name="undoSwissPerson" type="eCH-0020:undoSwissPersonType"/>
			<xs:element name="nationality" type="eCH-0011:nationalityType"/>
			<xs:element name="residencePermit" type="eCH-0006:residencePermitType" minOccurs="0"/>
			<xs:element name="nameOnPassport" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="changeResidencePermitPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventChangeResidencePermit">
		<xs:sequence>
			<xs:element name="changeResidencePermitPerson" type="eCH-0020:changeResidencePermitPersonType"/>
			<xs:element name="occupation" type="eCH-0021:occupationType" minOccurs="0"/>
			<xs:element name="residencePermit" type="eCH-0006:residencePermitType"/>
			<xs:element name="residencePermitTill" type="xs:date"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="changeNationalityPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventChangeNationality">
		<xs:sequence>
			<xs:element name="changeNationalityPerson" type="eCH-0020:changeNationalityPersonType"/>
			<xs:element name="nationality" type="eCH-0011:nationalityType"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="moveInTypeOfResidenceType">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="moveInPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
			<xs:element name="originalName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="alliancePartnershipName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="aliasName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="otherName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="callName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="placeOfBirth" type="eCH-0011:birthplaceType"/>
			<xs:element name="nationality" type="eCH-0011:nationalityType"/>
			<xs:element name="contact" type="eCH-0020:moveInContactType" minOccurs="0"/>
			<xs:element name="religion" type="eCH-0011:religionType" minOccurs="0"/>
			<xs:element name="languageOfCorrespondance" type="eCH-0011:languageType" minOccurs="0"/>
			<xs:element name="maritalData" type="eCH-0011:maritalDataType"/>
			<xs:element name="anyPerson" type="eCH-0011:anyPersonType"/>
			<xs:element name="placeOfOriginAddon" type="eCH-0021:placeOfOriginAddonType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="moveInReportingMunicipalityType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="reportingMunicipality" type="eCH-0007:swissMunicipalityType"/>
				<xs:element name="federalRegister" type="eCH-0020:federalRegisterType"/>
			</xs:choice>
			<xs:element name="arrivalDate" type="xs:date"/>
			<xs:element name="comesFrom" type="eCH-0011:destinationType"/>
			<xs:element name="dwellingAddress" type="eCH-0011:dwellingAddressType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="moveInAsMainResidenceType">
		<xs:sequence>
			<xs:element name="mainResidence" type="eCH-0020:moveInReportingMunicipalityType"/>
			<xs:element name="secondaryResidence" type="eCH-0007:swissMunicipalityType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="moveInAsSecondaryResidenceType">
		<xs:sequence>
			<xs:element name="secondaryResidence" type="eCH-0020:moveInReportingMunicipalityType"/>
			<xs:element name="mainResidence" type="eCH-0007:swissMunicipalityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="moveInAsOtherResidenceType">
		<xs:sequence>
			<xs:element name="secondaryResidence" type="eCH-0020:moveInReportingMunicipalityType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="moveInContactType">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
				<xs:element name="personIdentificationPartner" type="eCH-0044:personIdentificationPartnerType"/>
				<xs:element name="partnerIdOrgnisation" type="eCH-0011:partnerIdOrganisationType"/>
			</xs:choice>
			<xs:element name="contactAddress" type="eCH-0010:mailAddressType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventMoveIn">
		<xs:sequence>
			<xs:element name="moveInPerson" type="eCH-0020:moveInPersonType"/>
			<xs:element name="nameOfFather" type="eCH-0021:nameOfParentAtBirthType" minOccurs="0"/>
			<xs:element name="nameOfMother" type="eCH-0021:nameOfParentAtBirthType" minOccurs="0"/>
			<xs:element name="occupation" type="eCH-0021:occupationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Relationship" type="eCH-0021:relationshipType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:choice>
				<xs:element name="hasMainResidence" type="eCH-0020:moveInAsMainResidenceType"/>
				<xs:element name="hasSecondaryResidence" type="eCH-0020:moveInAsSecondaryResidenceType"/>
				<xs:element name="hasOtherResidence" type="eCH-0020:moveInAsOtherResidenceType"/>
			</xs:choice>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="moveOutPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="moveOutReportingDestinationType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="reportingMunicipality" type="eCH-0007:swissMunicipalityType"/>
				<xs:element name="federalRegister" type="eCH-0020:federalRegisterType"/>
			</xs:choice>
			<xs:element name="goesTo" type="eCH-0011:destinationType"/>
			<xs:element name="departureDate" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventMoveOut">
		<xs:sequence>
			<xs:element name="moveOutPerson" type="eCH-0020:moveOutPersonType"/>
			<xs:element name="moveOutReportingDestination" type="eCH-0020:moveOutReportingDestinationType"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="federalRegisterType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="moveTypeOfResidenceType">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="movePersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="moveReportingAddressType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="reportingMunicipality" type="eCH-0007:swissMunicipalityType"/>
				<xs:element name="federalRegister" type="eCH-0020:federalRegisterType"/>
			</xs:choice>
			<xs:element name="dwellingAddress" type="eCH-0020:moveDwellingAddressType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="moveDwellingAddressType">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:sequence>
					<xs:element name="EGID" type="eCH-0011:EGIDType"/>
					<xs:choice minOccurs="0">
						<xs:element name="EWID" type="eCH-0011:EWIDType"/>
						<xs:element name="householdID" type="xs:token" minOccurs="0"/>
					</xs:choice>
				</xs:sequence>
				<xs:element name="withoutEGID">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="householdID" type="xs:token"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="address" type="eCH-0010:swissAddressInformationType"/>
			<xs:element name="typeOfHousehold" type="eCH-0011:typeOfHouseholdType"/>
			<xs:element name="movingDate" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventMove">
		<xs:sequence>
			<xs:element name="movePerson" type="eCH-0020:movePersonType"/>
			<xs:element name="moveReportingAddress" type="eCH-0020:moveReportingAddressType"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contactPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contactContactType">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
				<xs:element name="personIdentificationPartner" type="eCH-0044:personIdentificationPartnerType"/>
				<xs:element name="partnerIdOrgnisation" type="eCH-0011:partnerIdOrganisationType"/>
			</xs:choice>
			<xs:element name="contactAddress" type="eCH-0010:mailAddressType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventContact">
		<xs:sequence>
			<xs:element name="contactAddressPerson" type="eCH-0020:contactPersonType"/>
			<xs:element name="contact" type="eCH-0020:contactContactType"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="addressLockPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventAddressLock">
		<xs:sequence>
			<xs:element name="addressLockPerson" type="eCH-0020:addressLockPersonType"/>
			<xs:element name="dataLock" type="eCH-0021:dataLockType"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="changeResidenceTypePersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
			<xs:element name="originalName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="alliancePartnershipName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="aliasName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="otherName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="callName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="placeOfBirth" type="eCH-0011:birthplaceType"/>
			<xs:element name="maritalData" type="eCH-0011:maritalDataType"/>
			<xs:element name="nationality" type="eCH-0011:nationalityType"/>
			<xs:element name="anyPerson" type="eCH-0011:anyPersonType"/>
			<xs:element name="changeResidenceTypeOriginAddOn" type="eCH-0021:placeOfOriginAddonType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="contact" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:choice minOccurs="0">
							<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
							<xs:element name="personIdentificationPartner" type="eCH-0044:personIdentificationPartnerType"/>
							<xs:element name="partnerIdOrgnisation" type="eCH-0011:partnerIdOrganisationType"/>
						</xs:choice>
						<xs:element name="contactAddress" type="eCH-0010:mailAddressType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="religion" type="eCH-0011:religionType" minOccurs="0"/>
			<xs:element name="languageOfCorrespondance" type="eCH-0011:languageType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="changeResidenceTypeReportingMunicipalityType">
		<xs:sequence>
			<xs:element name="reportingMunicipality" type="eCH-0007:swissMunicipalityType"/>
			<xs:element name="typOfResidence">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="arrivalDate" type="xs:date"/>
			<xs:element name="comesFrom" type="eCH-0011:destinationType"/>
			<xs:element name="dwellingAddress" type="eCH-0011:dwellingAddressType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventChangeResidenceTypeType">
		<xs:sequence>
			<xs:element name="changeResidenceTypePerson" type="eCH-0020:changeResidenceTypePersonType"/>
			<xs:element name="changeResidenceTypeReportingRelationship" type="eCH-0020:changeResidenceTypeReportingMunicipalityType"/>
			<xs:element name="nameOfFather" type="eCH-0021:nameOfParentAtBirthType" minOccurs="0"/>
			<xs:element name="nameOfMother" type="eCH-0021:nameOfParentAtBirthType" minOccurs="0"/>
			<xs:element name="RelationshipType" type="eCH-0021:relationshipType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="occupation" type="eCH-0021:occupationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="gardianMeasurePersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="gardianMeasurePartner">
		<xs:sequence>
			<xs:choice>
				<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
				<xs:element name="personIdentificationPartner" type="eCH-0044:personIdentificationPartnerType"/>
				<xs:element name="partnerIdOrganisation" type="eCH-0011:partnerIdOrganisationType"/>
			</xs:choice>
			<xs:element name="address" type="eCH-0010:mailAddressType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="guardianTypeOfRelationshipType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="gardianMeasureRelationshipType">
		<xs:sequence>
			<xs:element name="typeOfRelationship" type="eCH-0020:guardianTypeOfRelationshipType"/>
			<xs:element name="partner" type="eCH-0020:gardianMeasurePartner"/>
			<xs:element name="basedOnLaw" type="eCH-0021:basedOnLawType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventGardianMeasure">
		<xs:sequence>
			<xs:element name="gardianMeasurePerson" type="eCH-0020:gardianMeasurePersonType"/>
			<xs:element name="relationship" type="eCH-0020:gardianMeasureRelationshipType"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="undoGardianPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventUndoGardian">
		<xs:sequence>
			<xs:element name="undoGardianPerson" type="eCH-0020:undoGardianPersonType"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventChangeGardian">
		<xs:sequence>
			<xs:element name="gardianMeasurePerson" type="eCH-0020:gardianMeasurePersonType"/>
			<xs:element name="relationship" type="eCH-0020:gardianMeasureRelationshipType"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="changeNamePersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
			<xs:element name="officialName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="firstName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="originalName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="alliancePartnershipName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="aliasName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="otherName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="callName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="nameOnPassport" type="eCH-0044:baseNameType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventChangeName">
		<xs:sequence>
			<xs:element name="changeNamePerson" type="eCH-0020:changeNamePersonType"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="changeOccupationPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventChangeOccupation">
		<xs:sequence>
			<xs:element name="changeOfOccupationPerson" type="eCH-0020:changeOccupationPersonType"/>
			<xs:element name="occupation" type="eCH-0021:occupationType"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="changeReligionPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventChangeReligion">
		<xs:sequence>
			<xs:element name="changeOfReligionPerson" type="eCH-0020:changeReligionPersonType"/>
			<xs:element name="religion" type="eCH-0011:religionType"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="undoMissingPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventUndoMissing">
		<xs:sequence>
			<xs:element name="undoMissingPerson" type="eCH-0020:undoMissingPersonType"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="renewPermitPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventRenewPermit">
		<xs:sequence>
			<xs:element name="changeResidencePermitPerson" type="eCH-0020:renewPermitPersonType"/>
			<xs:element name="residencePermit" type="eCH-0006:residencePermitType"/>
			<xs:element name="occupation" type="eCH-0021:occupationType"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="partnershipPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="partnershipTypeOfRelationshipType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="partnershipRelationshipType">
		<xs:sequence>
			<xs:element name="partnershipTypeOfRelationshipType" type="eCH-0020:partnershipTypeOfRelationshipType"/>
			<xs:element name="partner">
				<xs:complexType>
					<xs:sequence>
						<xs:choice>
							<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
							<xs:element name="personIdentificationPartner" type="eCH-0044:personIdentificationPartnerType"/>
						</xs:choice>
						<xs:element name="address" type="eCH-0010:personMailAddressType" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventPartnership">
		<xs:sequence>
			<xs:element name="partnershipPerson" type="eCH-0020:partnershipPersonType"/>
			<xs:element name="maritalStatus">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="6"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dateOfMaritalStatus" type="xs:date"/>
			<xs:element name="partnershipRelationship" type="eCH-0020:partnershipRelationshipType" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="undoPartnershipPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventUndoPartnership">
		<xs:sequence>
			<xs:element name="undoPartnershipPerson" type="eCH-0020:undoPartnershipPersonType"/>
			<xs:element name="maritalStatus">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="7"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="dateOfMaritalStatus" type="xs:date"/>
			<xs:element name="partnerShipAbolition">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="paperLockPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventPaperLock">
		<xs:sequence>
			<xs:element name="paperLockPerson" type="eCH-0020:paperLockPersonType"/>
			<xs:element name="paperLock" type="eCH-0021:paperLockType"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="carePersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="careTypeOfRelationshipType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="careRelationshipType">
		<xs:sequence>
			<xs:element name="typeOfRelationship" type="eCH-0020:careTypeOfRelationshipType"/>
			<xs:element name="care" type="eCH-0011:yesNoType"/>
			<xs:element name="partner" type="eCH-0020:carePartnerType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="carePartnerType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
				<xs:element name="personIdentificationPartner" type="eCH-0044:personIdentificationPartnerType"/>
				<xs:element name="partnerIdOrganisation" type="eCH-0011:partnerIdOrganisationType"/>
			</xs:choice>
			<xs:element name="address" type="eCH-0010:mailAddressType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventCare">
		<xs:sequence>
			<xs:element name="carePerson" type="eCH-0020:carePersonType"/>
			<xs:element name="careRelationship" type="eCH-0020:careRelationshipType" maxOccurs="unbounded"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="correctPersonPersonType">
		<xs:sequence>
			<xs:element name="personIdentificationBefore" type="eCH-0044:personIdentificationType"/>
			<xs:element name="personIdentificationAfter" type="eCH-0044:personIdentificationType"/>
			<xs:element name="originalName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="alliancePartnershipName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="aliasName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="otherName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="callName" type="eCH-0044:baseNameType" minOccurs="0"/>
			<xs:element name="placeOfBirth" type="eCH-0011:birthplaceType"/>
			<xs:element name="dateOfDeath" type="xs:date" minOccurs="0"/>
			<xs:element name="maritalData" type="eCH-0011:maritalDataType"/>
			<xs:element name="nationality" type="eCH-0011:nationalityType"/>
			<xs:element name="contact" type="eCH-0020:correctPersonContactType" minOccurs="0"/>
			<xs:element name="religion" type="eCH-0011:religionType" minOccurs="0"/>
			<xs:element name="languageOfCorrespondance" type="eCH-0011:languageType" minOccurs="0"/>
			<xs:element name="anyPerson" type="eCH-0011:anyPersonType"/>
			<xs:element name="placeOfOriginAddon" type="eCH-0021:placeOfOriginAddonType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="correctPersonContactType">
		<xs:sequence>
			<xs:choice minOccurs="0">
				<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
				<xs:element name="personIdentificationPartner" type="eCH-0044:personIdentificationPartnerType"/>
				<xs:element name="partnerIdOrgnisation" type="eCH-0011:partnerIdOrganisationType"/>
			</xs:choice>
			<xs:element name="contactAddress" type="eCH-0010:mailAddressType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventCorrectPerson">
		<xs:sequence>
			<xs:element name="correctPerson" type="eCH-0020:correctPersonPersonType"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="typeOfResidenceType">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="correctReportingPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventCorrectReporting">
		<xs:sequence>
			<xs:element name="correctReportingPerson" type="eCH-0020:correctReportingPersonType"/>
			<xs:choice>
				<xs:element name="hasMainResidence" type="eCH-0011:mainResidenceType"/>
				<xs:element name="hasSecondaryResidence" type="eCH-0011:secondaryResidenceType"/>
				<xs:element name="hasOtherResidence" type="eCH-0011:otherResidenceType"/>
			</xs:choice>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="correctAddressPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventCorrectAddress">
		<xs:sequence>
			<xs:element name="correctAddressPerson" type="eCH-0020:correctAddressPersonType"/>
			<xs:element name="mainResidenceAddress" type="eCH-0011:dwellingAddressType"/>
			<xs:element name="secondaryResidenceAddress" type="eCH-0011:dwellingAddressType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="otherResidenceAddress" type="eCH-0011:dwellingAddressType" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="correctRelationshipPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventCorrectRelationship">
		<xs:sequence>
			<xs:element name="correctRelationshipPerson" type="eCH-0020:correctRelationshipPersonType"/>
			<xs:element name="Relationship" type="eCH-0021:relationshipType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="correctOccupationPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="correctOccupationOccupationType">
		<xs:sequence>
			<xs:element name="jobTitle" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="kindOfEmployment" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="0"/>
						<xs:enumeration value="1"/>
						<xs:enumeration value="2"/>
						<xs:enumeration value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="employer" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="placeOfWork" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="placeOfEmployer" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventCorrectOccupation">
		<xs:sequence>
			<xs:element name="correctOccupationPerson" type="eCH-0020:correctOccupationPersonType"/>
			<xs:element name="occupation" type="eCH-0021:occupationType" maxOccurs="unbounded"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="changeCitizenPersonType">
		<xs:sequence>
			<xs:element name="personIdentification" type="eCH-0044:personIdentificationType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventChangeCitizen">
		<xs:sequence>
			<xs:element name="changeCitizenPerson" type="eCH-0020:changeCitizenPersonType"/>
			<xs:element name="origin" type="eCH-0021:placeOfOriginAddonType" maxOccurs="unbounded"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventKeyExchange">
		<xs:sequence>
			<xs:element name="keyPersonIdentification" type="eCH-0044:personIdentificationType"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventDataRequest">
		<xs:sequence>
			<xs:element name="requestPersonIdentification" type="eCH-0044:personIdentificationType" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="delivery">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="deliveryHeader" type="eCH-0078:headerType"/>
				<xs:choice>
					<xs:element name="baseDelivery">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="numberOfMessages" type="eCH-0020:numberOfMessagesType"/>
								<xs:element name="messages" type="eCH-0020:eventBaseDelivery" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="birth" type="eCH-0020:eventBirth"/>
					<xs:element name="death" type="eCH-0020:eventDeath"/>
					<xs:element name="missing" type="eCH-0020:eventMissing"/>
					<xs:element name="e" type="eCH-0020:evente"/>
					<xs:element name="separation" type="eCH-0020:eventSeparation"/>
					<xs:element name="undoSeparation" type="eCH-0020:eventUndoSeparation"/>
					<xs:element name="divorce" type="eCH-0020:eventDivorce"/>
					<xs:element name="maritalStatusPartner" type="eCH-0020:eventMaritalStatusPartner"/>
					<xs:element name="undoe" type="eCH-0020:eventUndoe"/>
					<xs:element name="naturalizeForeigner" type="eCH-0020:eventNaturalizeForeigner"/>
					<xs:element name="naturalizeSwiss" type="eCH-0020:eventNaturalizeSwiss"/>
					<xs:element name="undoCitizen" type="eCH-0020:eventUndoCitizen"/>
					<xs:element name="undoSwiss" type="eCH-0020:eventUndoSwiss"/>
					<xs:element name="changeResidencePermit" type="eCH-0020:eventChangeResidencePermit"/>
					<xs:element name="changeNationality" type="eCH-0020:eventChangeNationality"/>
					<xs:element name="moveIn" type="eCH-0020:eventMoveIn"/>
					<xs:element name="moveOut" type="eCH-0020:eventMoveOut"/>
					<xs:element name="move" type="eCH-0020:eventMove"/>
					<xs:element name="contact" type="eCH-0020:eventContact"/>
					<xs:element name="addressLock" type="eCH-0020:eventAddressLock"/>
					<xs:element name="changeResidenceType" type="eCH-0020:eventChangeResidenceTypeType"/>
					<xs:element name="gardianMeasure" type="eCH-0020:eventGardianMeasure"/>
					<xs:element name="changeGardian" type="eCH-0020:eventChangeGardian"/>
					<xs:element name="undoGardian" type="eCH-0020:eventUndoGardian"/>
					<xs:element name="changeName" type="eCH-0020:eventChangeName"/>
					<xs:element name="changeOccupation" type="eCH-0020:eventChangeOccupation"/>
					<xs:element name="changeReligion" type="eCH-0020:eventChangeReligion"/>
					<xs:element name="undoMissing" type="eCH-0020:eventUndoMissing"/>
					<xs:element name="renewPermit" type="eCH-0020:eventRenewPermit"/>
					<xs:element name="partnership" type="eCH-0020:eventPartnership"/>
					<xs:element name="undoPartnership" type="eCH-0020:eventUndoPartnership"/>
					<xs:element name="paperLock" type="eCH-0020:eventPaperLock"/>
					<xs:element name="care" type="eCH-0020:eventCare"/>
					<xs:element name="correctPerson" type="eCH-0020:eventCorrectPerson"/>
					<xs:element name="correctReporting" type="eCH-0020:eventCorrectReporting"/>
					<xs:element name="correctAddress" type="eCH-0020:eventCorrectAddress"/>
					<xs:element name="correctRelationship" type="eCH-0020:eventCorrectRelationship"/>
					<xs:element name="correctOccupation" type="eCH-0020:eventCorrectOccupation"/>
					<xs:element name="changeCitizen" type="eCH-0020:eventChangeCitizen"/>
					<xs:element name="keyDelivery">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="numberOfKeyMessages" type="eCH-0020:numberOfMessagesType"/>
								<xs:element name="messages" type="eCH-0020:eventKeyExchange" maxOccurs="unbounded"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="dataRequest" type="eCH-0020:eventDataRequest"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
