OpenEch/src/main/xml/ch/ech/xmlns/eCH-0173-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) von Martin Stingelin (Stingelin Informatik GmbH) bearbeitet -->
<!-- edited with XMLSpy v2012 rel. 2 sp1 (http://www.altova.com) by Martin Stingelin (Stingelin Informatik GmbH) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by BITUSER (Bundesamt für Informatik und Telekommunikation) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eCH-0173="http://www.ech.ch/xmlns/eCH-0173/1" xmlns:eCH-0011="http://www.ech.ch/xmlns/eCH-0011-f/7" xmlns:eCH-0010="http://www.ech.ch/xmlns/eCH-0010/5" xmlns:eCH-0021="http://www.ech.ch/xmlns/eCH-0021-f/6" xmlns:eCH-0044="http://www.ech.ch/xmlns/eCH-0044-f/4" xmlns:eCH-0007="http://www.ech.ch/xmlns/eCH-0007/5" xmlns:eCH-0097="http://www.ech.ch/xmlns/eCH-0097-f/2" xmlns:eCH-0098="http://www.ech.ch/xmlns/eCH-0098-f/2" xmlns:eCH-0046="http://www.ech.ch/xmlns/eCH-0046/2" xmlns:eCH-0058="http://www.ech.ch/xmlns/eCH-0058/4" targetNamespace="http://www.ech.ch/xmlns/eCH-0173/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation>Ausgabedatum: 01.05.2013</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0011-f/7" schemaLocation="http://www.ech.ch/xmlns/eCH-0011-f/7/eCH-0011-7-0f.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0010/5" schemaLocation="http://www.ech.ch/xmlns/eCH-0010/5/eCH-0010-5-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0044-f/4" schemaLocation="http://www.ech.ch/xmlns/eCH-0044-f/4/eCH-0044-4-0f.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0007/5" schemaLocation="http://www.ech.ch/xmlns/eCH-0007/5/eCH-0007-5-0.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0021-f/6" schemaLocation="http://www.ech.ch/xmlns/eCH-0021-f/6/eCH-0021-6-0f.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0097-f/2" schemaLocation="http://www.ech.ch/xmlns/eCH-0097-f/2/eCH-0097-2-0f.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0098-f/2" schemaLocation="http://www.ech.ch/xmlns/eCH-0098-f/2/eCH-0098-2-0f.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0046/2" schemaLocation="http://www.ech.ch/xmlns/eCH-0046/2/eCH-0046-2-1f.xsd"/>
	<xs:import namespace="http://www.ech.ch/xmlns/eCH-0058/4" schemaLocation="http://www.ech.ch/xmlns/eCH-0058/4/eCH-0058-4-0.xsd"/>
	<xs:simpleType name="justificationType">
		<xs:restriction base="xs:token">
			<xs:maxLength value="700"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="includeResidenceTypeYesNoType">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="typeOfResidenceType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="requesterType">
		<xs:choice>
			<xs:element name="organisationIdentification" type="eCH-0097:organisationIdentificationType"/>
			<xs:element name="mailAddress" type="eCH-0010:mailAddressType"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="requestetInformationType">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="eventAddressVerification">
		<xs:sequence>
			<xs:element name="requester" type="eCH-0173:requesterType"/>
			<xs:element name="justification" type="eCH-0173:justificationType" minOccurs="0"/>
			<xs:element name="includeResidenceTypeYesNo" type="eCH-0173:includeResidenceTypeYesNoType"/>
			<xs:element name="municipality" type="eCH-0007:swissMunicipalityType" minOccurs="0"/>
			<xs:choice>
				<xs:element name="person" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="personIdentification">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="eCH-0044:personIdentificationType">
											<xs:sequence>
												<xs:element name="callName" type="eCH-0044:baseNameType" minOccurs="0"/>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="address" type="eCH-0010:addressInformationType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="organisation" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="organisationIdentification" type="eCH-0097:organisationIdentificationType"/>
							<xs:element name="address" type="eCH-0010:addressInformationType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="dateValidFrom" type="xs:date" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="addressVerificationResult">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="eventAddressVerificationResponse">
		<xs:sequence>
			<xs:element name="adressVerificationResult" type="eCH-0173:addressVerificationResult"/>
			<xs:element name="typeOfResidenceType" type="eCH-0173:typeOfResidenceType" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="eventPersonInformation">
		<xs:sequence>
			<xs:element name="requester" type="eCH-0173:requesterType"/>
			<xs:element name="justification" type="eCH-0173:justificationType" minOccurs="0"/>
			<xs:element name="requestedInformation" type="eCH-0173:requestetInformationType" minOccurs="0"/>
			<xs:element name="municipality" type="eCH-0007:swissMunicipalityType" minOccurs="0"/>
			<xs:choice>
				<xs:element name="person" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="personIdentification">
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="eCH-0044:personIdentificationType">
											<xs:sequence>
												<xs:element name="callName" type="eCH-0044:baseNameType" minOccurs="0"/>
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="address" type="eCH-0010:addressInformationType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="organisation" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="organisationIdentification" type="eCH-0097:organisationIdentificationType"/>
							<xs:element name="address" type="eCH-0010:addressInformationType"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
			<xs:element name="dateValidFrom" type="xs:date" minOccurs="0"/>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="personInformationResult">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="eventPersonInformationResponse">
		<xs:sequence>
			<xs:element name="personInformationResult" type="eCH-0173:personInformationResult"/>
			<xs:choice>
				<xs:element name="personDataIndividual" minOccurs="0">
					<xs:complexType>
						<xs:sequence minOccurs="0">
							<xs:element name="personidentification" type="eCH-0044:personIdentificationType" minOccurs="0"/>
							<xs:element name="birthData" type="eCH-0021:birthDataType" minOccurs="0"/>
							<xs:element name="deathData" type="eCH-0021:deathDataType" minOccurs="0"/>
							<xs:element name="nameData" type="eCH-0021:nameDataType" minOccurs="0"/>
							<xs:element name="maritalData" type="eCH-0011:maritalDataType" minOccurs="0"/>
							<xs:element name="religionData" type="eCH-0021:religionDataType" minOccurs="0"/>
							<xs:element name="nationalityData" type="eCH-0021:nationalityDataType" minOccurs="0"/>
							<xs:element name="residencePermitData" type="eCH-0021:residencePermitDataType" minOccurs="0"/>
							<xs:element name="relationship" type="eCH-0021:relationshipType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="originAddon" type="eCH-0021:placeOfOriginAddonType" minOccurs="0" maxOccurs="unbounded"/>
							<xs:element name="kindOfEmployment" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:length value="1"/>
										<xs:enumeration value="0"/>
										<xs:enumeration value="1"/>
										<xs:enumeration value="2"/>
										<xs:enumeration value="3"/>
										<xs:enumeration value="4"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="paperLock" type="eCH-0021:paperLockType" minOccurs="0"/>
							<xs:element name="dataLock" type="eCH-0021:dataLockType" minOccurs="0"/>
							<xs:element name="languageOfCorrespondance" type="eCH-0011:languageType" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="personDataOrganisation" type="eCH-0098:organisationType" minOccurs="0"/>
			</xs:choice>
			<xs:element name="mainResidenceInformation" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="mainResidenceMunicipality" type="eCH-0007:swissMunicipalityType" minOccurs="0"/>
						<xs:choice minOccurs="0">
							<xs:element name="dwellingAddress" type="eCH-0011:dwellingAddressType" minOccurs="0"/>
							<xs:element name="businessAddres" type="eCH-0098:dwellingAddressType" minOccurs="0"/>
							<xs:element name="mailAddress" type="eCH-0010:swissAddressInformationType" minOccurs="0"/>
						</xs:choice>
						<xs:element name="comesFrom" type="eCH-0011:destinationType" minOccurs="0"/>
						<xs:element name="arrivalDate" type="xs:date" minOccurs="0"/>
						<xs:element name="goesTo" type="eCH-0011:destinationType" minOccurs="0"/>
						<xs:element name="departureDate" type="xs:date" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="secondaryResidenceInformation" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="secondaryResidenceMunicipality" type="eCH-0007:swissMunicipalityType" minOccurs="0"/>
						<xs:choice minOccurs="0">
							<xs:element name="dwellingAddress" type="eCH-0011:dwellingAddressType" minOccurs="0"/>
							<xs:element name="businessAddres" type="eCH-0098:dwellingAddressType" minOccurs="0"/>
							<xs:element name="mailAddress" type="eCH-0010:swissAddressInformationType" minOccurs="0"/>
						</xs:choice>
						<xs:element name="comesFrom" type="eCH-0011:destinationType" minOccurs="0"/>
						<xs:element name="arrivalDate" type="xs:date" minOccurs="0"/>
						<xs:element name="goesTo" type="eCH-0011:destinationType" minOccurs="0"/>
						<xs:element name="departureDate" type="xs:date" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="extension" type="xs:anyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="delivery">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="deliveryHeader" type="eCH-0058:headerType"/>
				<xs:choice>
					<xs:element name="addressVerification" type="eCH-0173:eventAddressVerification"/>
					<xs:element name="addressVerificationResponse" type="eCH-0173:eventAddressVerificationResponse"/>
					<xs:element name="personInformation" type="eCH-0173:eventPersonInformation"/>
					<xs:element name="personInformationResponse" type="eCH-0173:eventPersonInformationResponse"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
